 :root {
    --text-color: white;
    --bg-url: url(assets/_ICHIGO\ KUROSAKI_.gif);
    --stroke-color: rgba(247, 243, 243, 0.644);
    --surface-color: rgba(233, 225, 225, 0);
    --surface-color-hover: rgba(145, 144, 144, 0.555);
    --hightlight-color: rgba(145, 144, 144, 0.644);
    --switch-bg-url: url(moon-stars.svg);
 }

 .light {
    --text-color: rgb(253, 253, 253);
    --bg-url: url(assets/Kurosaki\ Ichigo.gif);
    --stroke-color: rgba(255, 0, 0, 0.548);
    --surface-color: rgba(219, 217, 217, 0);
    --surface-color-hover: rgba(255, 7, 7, 0.801);
    --hightlight-color: rgba(248, 8, 8, 0.979);
 }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
 body {
    background: var(--bg-url) no-repeat top center/cover;
    height: 100vh;
 }
 
 body * {
    font-family: "inter", sans-serif;
    color: var(--text-color);
 }

    #container {
        width: 100%;
        max-width: 588px;
        margin: 56px auto 0px;
        padding: 0 24px;
    }

    /* profile*/
    #profile {
        text-align: center;
        padding: 24px;
    }
    
    #profile img {
        width: 112px;
    }

    #profile p {
        font-weight: 500px;
        font-weight: 24ox;
        margin-top: 8px;
    }

    /* switch */

    #switch {
        position: relative;
        width: 64px;

        margin: 4px auto;
    }

    #switch button {
        width: 45px;
        height: 45px;
        background: white var(--switch-bg-url) no-repeat center;
        border: 0;
        border-radius: 50%;

        position: absolute;
        top: 50%;

        left: 4px;
        z-index: 1;
        transform: translateY(-50%);

        animation: slide-back .2s forwards;
    }

    .light #switch button {
        animation: slide-in 0.4s forwards;

        left: 28px;
        transform: translateY(-50%);
}
    

    #switch button:hover {
        outline: 8px solid var(--hightlight-color);
    }

    #switch span {
        display: block;
        width: 64px;
        height: 28px;
        background: var(--surface-color);
        border: 4px solid var(--stroke-color);
        -webkit-backdrop-filter: blur(4px);
        backdrop-filter: blur(4px);
        border-radius: 9999px;
    }



    /* links */
    ul {
        list-style: none;

        display: flex;
        flex-direction: column;
        gap: 16px;

        padding: 24px 0;
    }

    ul li a{
        border: 1px solid  rgb(233, 4, 4);
        display: flex;
        align-items: center;
        justify-content: center;

        padding: 25px 25px;

        background: var(--surface-color);
        border: 1px solid var(--stroke-color);
        border-radius: 8px;

        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);

        text-decoration: none;
        font-weight: 500;

        transition-timing-function: calc(0.5s);
    }

    /* pseudo-selector */
    ul li a:hover {
        background-color: var(--surface-color-hover);
        border: 1.5px solid var(--text-color);
    }

    #social-links {
        display:flex;
        justify-content: center;

        padding: 24px 0;

        font-size: 24px;

    }

    #social-links a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 16px;

        transition: background 0.2s;
        transition: transform 0.3s;
        border-radius: 50%;
    }

    #social-links a:hover {
        background: var(--hightlight-color);

        transform: scale(1.2);
    }

    footer {
        padding: 24px 0;
        text-align: center;
        font-size: 14px;
    }

    footer a {
        display: inline-block;
        vertical-align: middle;
        transition: color 0.3s ease, transform 0.3s ease;
    }

    footer a:hover {
        color: gray; 
        transition: color 0.3s ease;
        transform: scale(1.1);
}

    /* media queries */
    @media (min-width: 700px) {
        :root {
            --bg-url: url(assets/_ICHIGO\ KUROSAKI_.gif);
        }

        .light {
            --bg-url: url(assets/Kurosaki\ Ichigo.gif);
        }
    }

    /*animation */
    @keyframes slide-in {
        from {
            left: 4px;
        }
        to {
            left: 28px;
        }
        }

    @keyframes slide-back {
        from {
            left: 28px;
        }
        to {
            left: 4px;
        }
        }
    

